*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    /* position: fixed; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__form1-list{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;

}
.header__form1-list li a{
    text-decoration: none;
    color: #000;
}
.header__form1-list li{
    margin-right: 10px;
}
.header__form3{
    display: flex;
    justify-content:center;
    align-items: center;
}
.header__form3-search{
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.header__form3-search i{
    font-size: 10px;
    margin-right: 10px;
    opacity: 0.5;

}
.header__form3-search input{
    outline: none;
    border-style: none;
    opacity: 0.5;
}
/* slide */
.slide{
    background-image: url(/img/Image\ 1.png);
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* main */
.main{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
     height: 160px;
    background-color: #fafafb;
}
.main__choose{
    display: flex;
    width: 50%;
    /* justify-content: space-around; */
    align-items: center;
}
.main__choose-item:nth-child(1){
    background-color: rgb(69, 157,122 );
    width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    margin-left: 60px;
    margin-right: 10px;
}
.main__choose-item:nth-child(2),
.main__choose-item:nth-child(4){
    color:  rgb(69, 157,122 );
    line-height: 40px;
    width: 150px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
   
}
.main__choose-item:nth-child(2):hover{
    background-color: rgb(69, 157,122 );
    color: #fff;
    border-radius: 3px;
    width: 150px;
    height: 40px;

}
.main__choose-item:nth-child(4):hover{
    background-color: rgb(69, 157,122 );
    width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    line-height: 40px;
}
.main__more{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.main__more-search{
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   border-bottom-width: 1px ;
   border-bottom-color: rgb(216, 217, 221) ;
   border-bottom-style: solid ;
}
.main__more-search i{
    font-size: 10px;
    margin-right: 10px;
    opacity: 0.5;

}
.main__more-search input{
    outline: none;
    border-style: none;
    opacity: 0.5;
}
.main__more-sort{
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: rgb(230, 232, 235);
    padding: 5px;
    margin-left: 10px;
    opacity: 0.6;
}

.product{
    display: flex;
    flex-direction: column;
    background-color: #fafafb;
}
.product__card{
    width: 300px;
    height: 500px;
}
.product__seller{
    background-color: rgb(255,201,112);
    width: 100px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__col1{
    display: flex;
    justify-content: space-around;
}
.product__col2{
    display: flex;
    justify-content: space-around;
}
.product__col3{
    display: flex;
    justify-content: space-around;
}

/* page */
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafb;
    padding-bottom: 5%;
}
.page__form{
    text-align: center;
    display: flex;
    justify-content: center;
}
.page__form div:nth-child(1){
    font-size: 18px;
    margin: 15px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.page__form div:nth-child(1):hover{
    
    background-color: rgb(244,250,248);
    color: rgb(69, 157, 122);
   border-radius: 100%;
}

.page__form div:nth-child(2){
    font-size: 18px;
    margin: 15px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.page__form div:nth-child(2){
    
    background-color: rgb(244,250,248);
    color: rgb(69, 157, 122);
   border-radius: 100%;
}
.page__form div:nth-child(3){
    font-size: 18px;
    margin: 15px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.page__form div:nth-child(3):hover{
    
    background-color: rgb(244,250,248);
    color: rgb(69, 157, 122);
   border-radius: 100%;
}

.page__form div:nth-child(4){
    font-size: 18px;
    margin: 15px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.page__form div:nth-child(4):hover{
    
    background-color: rgb(244,250,248);
    color: rgb(69, 157, 122);
   border-radius: 100%;
}
.page__form div:nth-child(5){
    font-size: 18px;
    margin: 15px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.page__form div:nth-child(5):hover{
    
    background-color: rgb(244,250,248);
    color: rgb(69, 157, 122);
   border-radius: 100%;
}
.page__form div:nth-child(6){
    font-size: 18px;
    margin: 15px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.page__form div:nth-child(6):hover{
    
    background-color: rgb(244,250,248);
    color: rgb(69, 157, 122);
   border-radius: 100%;
}
/* footer */
.footer{
    display: flex; 
    justify-content: space-around; 
    /* align-items: center; */
    height: 600px;
    width: 100%;
    background-color: rgb(29, 33, 40);
    padding-top: 50px;
}
.footer__left{
    display: flex;
    color: #fff;
}
.footer__left-about ul,
.footer__left-help ul,
.footer__left-contact ul{
    list-style: none;
}

.footer__left-about ,
.footer__left-help ,
.footer__left-contact {
    margin: 30px;
    font-size: 20px;
}
.footer__left-about li,
.footer__left-help li,
.footer__left-contact li{
    margin: 30px 0px 0px 0px;
    
}

.footer__right{
    font
}